#Home {
    margin: 0;
    padding: 0;
        background-color: transparent;
     width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    height: 100%;
    max-height: 4000px;
    min-width: 1015px;

}


#HomeBio {
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    background-color: transparent;
    width: 650px;
    height: 600px;
    float: left;
}

#HomeDP {
    
    margin-top: 40px;
    margin-left: 660px;
    margin-bottom: 20px;
    background-color: transparent;
}

.contact{
 
    background-color: white;
    padding: 5px 5px 5px 5px;
    width: 225px;
    
}
.thumbnail{
 
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    
}

.twitter-timeline{
  height: 250px;  
    line-height: 250px;
}

#ticker {
    position: relative;
    margin: 0px 0px 5px 0px;
    margin-top: 10px;
    border-radius: 5px;
  width:320px; height:250px; overflow:auto; border:1px solid #aaaaaa;
}
#ticker dt {
  font:normal 14px Lato; padding:0 10px 5px 10px;
  background-color:white; padding-top:10px; border:1px solid #ffffff;
  border-bottom:none; border-right:none;
}
#ticker dd {
  margin-left:0; font:normal 11px Lato; padding:0 10px 10px 10px;
  border-bottom:1px solid #aaaaaa; background-color:white;
  border-left:1px solid #ffffff;
}

#ticker dd.last { border-bottom:1px solid #ffffff};


#bioPic {
    background-color: transparent;
    width: 180px; 
    height: 250px;
    padding: 60px 60px 20px 60px;
}

#cv {
 
    margin: 0px 60px 15px 60px;
    height: 30px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border:1px solid white;
    border-radius:4px;
        box-shadow:-2px 2px 2px rgba(0,0,0,0.15);

    
}

#homeHeading {
    position: relative;
    margin: 0px 10px 10px 75px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    background-color: transparent;
    line-height: 1.5em;
}

#homeHeading:after {
    content:' ';
    display:block;
    border:1px solid #666666;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.bio {
    position: relative;
    margin: 25px 10px 10px 35px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    background-color: transparent;
    font-weight: normal;
    color: #333333;
    font-size: 16px;
}

