html, body {
    margin: auto;
    padding: 0;
    background-color: #e6e6e6;
    min-width: 650px;
}

#Teaching {
    margin: 0;
    padding: 0;
        background-color: transparent;
     width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    height: 100%;
    max-height: 4000px;
    min-width: 1015px;

}